<footer class="bg-secondary-subtle mt-5 p-3">
    <div class="row">
        <div class="col-6">
            © 2025 Vende&Faz todos os direitos reservados
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-secondary border-none">
                    <a href="#">
                        <img alt="conta" src="/images/instagram.png" class="icon-footer">
                    </a>
                </li>
                <li class="list-group-item list-group-item-secondary border-none">
                    <a href="#">
                        <img alt="conta" src="/images/facebook.png">
                    </a>
                </li>
                <li class="list-group-item list-group-item-secondary border-none">
                    <a href="#">
                        <img alt="conta" src="/images/whatsapp.png">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6 text-end">
            <h5>Contate-nos</h5>
            vendeefaz@gmail.com<br>(99)99999-9999
        </div>
    </div>
</footer>