<nav class="navbar bg-white pt-0 pb-0 sticky-top shadow-lg"><!--sticky-md-top para telas menores-->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img alt="logo" src="./images/logo.png" class="logo">
        </a>
        <ul class="nav justify-content-end align-items-center">
            <li class="nav-item">
                <a class="nav-link active blue-text" aria-current="page" href="#">
                    <span class="border-blue"><strong>Início</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link blue-text" href="#">
                    <span class="border-blue"><strong>Sobre</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link blue-text" href="#">
                    <span class="border-blue"><strong>Contato</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="usuario/cadastro">
                    <img alt="conta" src="./images/user-icon.png">
                </a>
            </li>
        </ul>
    </div>
</nav>