<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
{{>nav}}
<div class="gradient py-5">
    <div class="d-card-row text-center">
        <div class="card shadow w-card">
            <img src="/images/produto.png" class="card-img-top card-image" alt="Produto">
            <div class="card-body">
                <h3 class="card-title green-text">Produtos</h3>
                <a href="/produto/cadastro" class="btn btn-success w-50">Anunciar</a>
            </div>
        </div>
        <div class="card shadow w-card">
            <img src="/images/servico.png" class="card-img-top card-image" alt="Serviço">
            <div class="card-body">
                <h3 class="card-title green-text">Serviços</h3>
                <a href="/anuncio/cadastro" class="btn btn-success w-50">Anunciar</a>
            </div>
        </div>
    </div>
</div>