<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
{{>nav}}
{{> announcement}}
<div class="container-fluid p-0">
    <div class="banner text-white w-100 d-flex align-items-center" style="min-height: 50vh;">
        <div class="container">
            <div class="row justify-content-center text-center">
            <div class="col-12 col-md-10 mx-auto">
                <h2 class="mb-4">
                Anúncios de produtos<br>e serviços locais em<br>
                <span class="green-text">um só lugar</span>
                </h2>


                <div class="button-wrapper d-flex flex-column flex-md-row justify-content-center align-items-center gap-4 mt-4">
                <div class="button-card p-4 text-dark text-center">
                    <p class="btn-desc">Sou consumidor, quero procurar anúncios</p>
                    <a href="/usuario/cadastro" class="btn-custom">Comece Aqui!</a>
                </div>


                <div class="button-card p-4 text-dark text-center">
                    <p class="btn-desc">Quero anunciar meus produtos ou serviços</p>
                    <a href="/anunciante_empresa/cadastro" class="btn-custom">Comece Aqui!</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="gradient py-5">
        <div class="d-card-row text-center">
            <div class="card shadow w-card">
                <img src="/images/produto.png" class="card-img-top card-image" alt="Produto">
                <div class="card-body">
                    <h3 class="card-title green-text">Produtos</h3>
                    <a href="#" class="btn btn-success w-50">Confira</a>
                </div>
            </div>
            <div class="card shadow w-card">
                <img src="/images/servico.png" class="card-img-top card-image" alt="Serviço">
                <div class="card-body">
                    <h3 class="card-title green-text">Serviços</h3>
                    <a href="#" class="btn btn-success w-50">Confira</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-card-row text-center pt-5 pb-5 mt-5 mb-5">
        <div class="col-6 w-auto blue-text">
            <h1><strong>+100</strong></h1>
            <h5><strong>Anunciantes</strong></h5>
        </div>
        <div class="col-6 w-auto blue-text">
            <h1><strong>+1000</strong></h1>
            <h5><strong>Clientes</strong></h5>
        </div>
    </div>
    <!--cards anunciantes: partial-->
    <div class="row d-card-row text-center">
        <div class="card mb-3 w-card-lg bg-body-tertiary border-none">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body text-start">
                        <h5 class="card-title">João Eletricista</span></h5>
                        <p class="card-text"><small class="text-body-secondary">Serviço</small></p>
                        <p class="card-text">
                            Disponível para serviços residenciais e comerciais. Instalações
                            manutenção, reparos e soluções rápidas com segurança e qualidade.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/anunciante.png" class="img-fluid rounded-end px-2 py-4" alt="...">
                </div>
            </div>
        </div>
        <div class="card mb-3 w-card-lg bg-body-tertiary border-none">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body text-start">
                        <h5 class="card-title">João Eletricista</span></h5>
                        <p class="card-text"><small class="text-body-secondary">Serviço</small></p>
                        <p class="card-text">
                            Disponível para serviços residenciais e comerciais. Instalações
                            manutenção, reparos e soluções rápidas com segurança e qualidade.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/anunciante.png" class="img-fluid rounded-end px-2 py-4" alt="...">
                </div>
            </div>
        </div>
        <div class="card mb-3 w-card-lg bg-body-tertiary border-none">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body text-start">
                        <h5 class="card-title">João Eletricista</span></h5>
                        <p class="card-text"><small class="text-body-secondary">Serviço</small></p>
                        <p class="card-text">
                            Disponível para serviços residenciais e comerciais. Instalações
                            manutenção, reparos e soluções rápidas com segurança e qualidade.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/anunciante.png" class="img-fluid rounded-end px-2 py-4" alt="...">
                </div>
            </div>
        </div>
        <div class="card mb-3 w-card-lg bg-body-tertiary border-none">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body text-start">
                        <h5 class="card-title">João Eletricista</span></h5>
                        <p class="card-text"><small class="text-body-secondary">Serviço</small></p>
                        <p class="card-text">
                            Disponível para serviços residenciais e comerciais. Instalações
                            manutenção, reparos e soluções rápidas com segurança e qualidade.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/images/anunciante.png" class="img-fluid rounded-end px-2 py-4" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}